body {
    display: flex;
    padding: 50px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  #registration-form {
    width: 270px;
    margin: 0 auto;
    padding: 80px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] ,form input[type="radio"] form input[type="date"] {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #9b59b6;
    border-radius: 15px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.9s ease;
  }
  
  #display-data {
    margin-top: 20px;
  }